{template header_common}
<link rel="stylesheet" type="text/css" href="/static/css/homepage.css">
<div class="marketpage">
<div class="redback">
	<div class="area slideHD">
    	<div class="multimenu">
        	<div style="position:relative;" id="multimenu-div">
            	{loop $categorylist[0] $lv1}
            	<div class="menuPannel">
                	<ul>
                    	{loop $categorylist[$lv1[catid]] $lv2}
                        <li>
                        	<h3><a href="/?m=goods&c=list&catid=$lv2[catid]">$lv2[cname]</a></h3>
                            <div>
                            	{loop $categorylist[$lv2[catid]] $lv3}
                                <a href="/?m=goods&c=list&catid=$lv3[catid]">$lv3[cname]</a>
                                {/loop}
                            </div>
                        </li>
                        {/loop}
                    </ul>
                </div>
                {/loop}
            </div>
            <ul class="menu-level-1" id="menu-level-1">
                {loop $categorylist[0] $lv1}
                <li><a href="/?m=goods&c=list&catid=$lv1[catid]">$lv1[cname]</a></li>
                {/loop}
            </ul>
        </div>
        <script type="text/javascript">
        $("#menu-level-1 li").mouseenter(function(e) {
            $(this).addClass('on').siblings().removeClass('on');
			$("#multimenu-div .menuPannel").eq($(this).index()).show().siblings().hide();
        });
		$("#multimenu-div,.menuPannel").mouseleave(function(e) {
            $(".menuPannel").hide();
			$("#menu-level-1 li").removeClass('on');
        });
        </script>
        <!--幻灯片-->
        <script src="/static/js/jquery.SuperSlide.2.1.1.js" type="text/javascript"></script>
        <div class="slideDiv">
        	<div class="slideBox" id="slideBox">
                {eval $sliderlist=slider_get_image(2);}
                {eval $sliderno=1;}
                <div class="hd">
                    <ul>{loop $sliderlist $list}<li>$sliderno</li>{eval $sliderno++;}{/loop}</ul>
                </div>
                <div class="bd">
                    <ul>
                        {loop $sliderlist $list}
                        <li><a href="$list[url]" target="_blank"><img src="{echo image($list[image]);}"></a></li>
                        {/loop}
                    </ul>
                </div>
        
                <!-- 下面是前/后按钮代码，如果不需要删除即可 -->
                <!--<a href="javascript:void(0)" class="prev"></a>-->
                <!--<a href="javascript:void(0)" class="next"></a>-->
    
        	</div>
        </div>
        <script type="text/javascript">jQuery(".slideBox").slide({mainCell:".bd ul",autoPlay:true,delayTime:1000});</script>
    </div>
</div>

<!--<div class="blank"></div>
<div class="area scrollBanner" id="scrollBanner">
	<div class="bd">
    	<ul>
        	{eval $sliderlist=slider_get_image(4);}
            {loop $sliderlist $slider}
        	<li><a href="$slider[url]" target="_blank"><img src="{echo image($slider[image])}"></a></li>
            {/loop}
        </ul>
    </div>
</div>
<script type="text/javascript">
jQuery("#scrollBanner").slide({titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"left",autoPlay:true,vis:4,trigger:"click",delayTime:1000});
</script>-->
	<div class="blank"></div>
    <div class="area">
    	<div class="hotbest">
        	<h3><i onclick="loadHotSale()">换一组</i>热销好货</h3>
            <div class="container">
                <dl>
                    <dd>
                    	<h2>伊利纯牛奶</h2>
                        <p>￥:10.00</p>
                    </dd>
                    <dt><img src="http://zhangwoo.cn/data/attachment/photo/2015/12/10af0ee9d170169bd9839e917ce9d174.jpg"></dt>
                </dl>
                <div class="listHD" id="hot-sale-div">
                    
            	</div>
            </div>
        </div>
    </div>
    
    <!--==================-->
    <div class="blank"></div>
    <div class="area">
        <div class="titlediv">
            <strong>家庭清洁</strong>
        </div>
        <div class="goodsLeft" style="background-color:#FF8B01;">
        	{eval $ad=ad_get_data(array('id'=>104))}
        	<div class="pic"><img src="{$ad[data][image]}"></div>
            <div class="menus">
            	<a href="/?m=goods&c=list&catid=532">洗衣液</a>
                <a href="/?m=goods&c=list&catid=534">洗衣皂</a>
                <a href="/?m=goods&c=list&catid=535">衣领净</a>
                <a href="/?m=goods&c=list&catid=555">软包抽纸</a>
                <a href="/?m=goods&c=list&catid=556">盒装抽纸</a>
                <a href="/?m=goods&c=list&catid=557">卷筒纸</a>
            </div>
        </div>
        <div class="goodsListHD">
        	{eval $goodslist[hot]=goods_get_list(array('catid'=>array('IN','235,531,532,534,535,554,555,556,557,702,717')),8);}
        	<ul class="goodsList">
            	{loop $goodslist[hot] $glist}
                <li>
                	<div class="pic"><a href="/?m=goods&c=detail&id=$glist[id]" target="_blank">
                    <img src="$glist[thumburl]"></a></div>
                    <h2 class="name"><a href="/?m=goods&c=detail&id=$glist[id]" target="_blank">$glist[name]</a></h2>
                    <div class="price">￥:{echo @number_format($glist[price],2)}</div>
                </li>
                {/loop}
            </ul>
        </div>
    </div>
    
    
    <!--==================-->
    <div class="blank"></div>
    <div class="area">
        <div class="titlediv">
            <strong>家居家电</strong>
        </div>
        <div class="goodsLeft" style="background-color:#298BE2;">
        	{eval $ad=ad_get_data(array('id'=>105))}
        	<div class="pic"><img src="{$ad[data][image]}"></div>
            <div class="menus">
            	<a href="/?m=goods&c=list&catid=440">家纺布艺</a>
                <a href="/?m=goods&c=list&catid=451">餐具水具</a>
                <a href="/?m=goods&c=list&catid=462">炒锅</a>
                <a href="/?m=goods&c=list&catid=463">平底锅</a>
                <a href="/?m=goods&c=list&catid=464">套装锅</a>
                <a href="/?m=goods&c=list&catid=465">蒸锅</a>
            </div>
        </div>
        <div class="goodsListHD">
        	{eval $goodslist[hot]=goods_get_list(array('catid'=>array('IN','234,440,441,451,457,461,462,463,464,465,466,467,468,469')),8);}
        	<ul class="goodsList">
            	{loop $goodslist[hot] $glist}
                <li>
                	<div class="pic"><a href="/?m=goods&c=detail&id=$glist[id]" target="_blank">
                    <img src="$glist[thumburl]"></a></div>
                    <h2 class="name"><a href="/?m=goods&c=detail&id=$glist[id]" target="_blank">$glist[name]</a></h2>
                    <div class="price">￥:{echo @number_format($glist[price],2)}</div>
                </li>
                {/loop}
            </ul>
        </div>
    </div>
    
    <!--==================-->
    <div class="blank"></div>
    <div class="area">
        <div class="titlediv">
            <strong>食品饮料</strong>
        </div>
        <div class="goodsLeft" style="background-color:#298BE2;">
        	{eval $ad=ad_get_data(array('id'=>106))}
        	<div class="pic"><img src="{$ad[data][image]}"></div>
            <div class="menus">
            	<a href="/">泡菜</a>
                <a href="/">甜酒</a>
                <a href="/">韭菜根</a>
                <a href="/">腌肉、腌鱼</a>
                <a href="/">葛根片</a>
                <a href="/">葛根精粉</a>
                <a href="/">蓝莓果肉饮</a>
            </div>
        </div>
        <div class="goodsListHD">
        	{eval $goodslist[hot]=goods_get_list(array('catid'=>array('IN','231,237,239,240,703,704,705,706,701,708')),8);}
        	<ul class="goodsList">
            	{loop $goodslist[hot] $glist}
                <li>
                	<div class="pic"><a href="/?m=goods&c=detail&id=$glist[id]" target="_blank">
                    <img src="$glist[thumburl]"></a></div>
                    <h2 class="name"><a href="/?m=goods&c=detail&id=$glist[id]" target="_blank">$glist[name]</a></h2>
                    <div class="price">￥:{echo @number_format($glist[price],2)}</div>
                </li>
                {/loop}
            </ul>
        </div>
    </div>
    
    
</div>
<script src="/static/js/homepage.js"></script>
{template footer_common} 