{template header_seller}
<div id="mainFrame">
	<div class="topbar">
    	{if $shop}<div class="f-right"><a href="/?m=$G[m]&c=$G[c]&a=edit" class="button">编辑店铺</a></div>{/if}
        <span>店铺设置</span>
    </div>
	{if !$shop}
    <div style="margin:50px 0; text-align:center; font-size:18px; color:#666;">
    	你还没有店铺，<a href="/?m=$G[m]&c=$G[c]&a=create">马上创建一个</a>
    </div>
    {else}
    <div class="tableView">
    	<div class="row">
        	<div class="cell">店铺名称:</div>
            <div class="cell">{$shop[shopname]}</div>
        </div>
        
        <div class="row">
        	<div class="cell">联系电话:</div>
            <div class="cell">{$shop[tel]}</div>
        </div>
        
        <div class="row">
        	<div class="cell">所在位置:</div>
            <div class="cell">{$shop[province]} {$shop[city]} {$shop[county]}</div>
        </div>
        
        <div class="row">
        	<div class="cell">实体店地址:</div>
            <div class="cell">{$shop[address]}</div>
        </div>
    </div>
    {/if}
</div>
{template footer_seller}