{template header_seller}
<div class="mainFrame" id="mainFrame">
	<div class="seller-tab-bar">
    	<div class="item on"><a href="">全部订单</a></div>
        <div class="item"><a href="">等待买家付款</a></div>
        <div class="item"><a href="">待发货</a></div>
        <div class="item"><a href="">已发货</a></div>
        <div class="item"><a href="">退款中</a></div>
    </div>
    
    <table cellpadding="0" cellspacing="0" width="100%" class="order-table-header">
    	<tr>
        	<td>宝贝</td>
            <td width="80">单价(元)</td>
            <td width="60">数量</td>
            <td width="100">买家</td>
            <td width="80">交易状态</td>
            <td width="80">实收款</td>
            <td width="80">评价</td>
        </tr>
    </table>
    
    <div class="order-tbar">
    	<div class="f-right">下一页</div>
        <input type="checkbox"> 全部确认收货
    </div>
    
    <div class="order-item">
    	<table cellpadding="0" cellspacing="0" width="100%" class="table-header">
        	<tr>
            	<td>
                	<input type="checkbox">
                    订单号: 2065436985556738 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    成交时间: 2016-07-22 10:22:22
                </td>
            </tr>
        </table>
        <table cellpadding="0" cellspacing="0" width="100%" class="table-goods">
        	<tr>
            	<td>
                	<div class="g-pic"><img src="http://xw.zhangwoo.cn/data/attachment/photo/2016/05/1463637711402477.jpg"></div>
                    <div class="g-con">
                    	<h3>棉先生夏装男士直筒亚麻裤长裤 松紧腰棉麻休闲裤 夏季薄款男裤</h3>
                        <div class="attr">颜色:灰色  尺码:XXXL</div>
                    </div>
                </td>
                <td width="80">
                	<div class="price"><s>138.00</s></div>
                    <div class="discount">100.00</div>
                </td>
                <td width="60" class="td-number">1</td>
                <td width="100">贵州大师兄</td>
                <td width="80">交易成功</td>
                <td width="80"><div class="amount">100.00</div></td>
                <td width="80" class="td-right"><a href="" class="btn">发货</a></td>
            </tr>
        </table>
    </div>
    
    <div class="order-item">
    	<table cellpadding="0" cellspacing="0" width="100%" class="table-header">
        	<tr>
            	<td>
                	<input type="checkbox">
                    订单号: 2065436985556738 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    成交时间: 2016-07-22 10:22:22
                </td>
            </tr>
        </table>
        <table cellpadding="0" cellspacing="0" width="100%" class="table-goods">
        	<tr>
            	<td>
                	<div class="g-pic"><img src="http://xw.zhangwoo.cn/data/attachment/photo/2016/05/1463637711402477.jpg"></div>
                    <div class="g-con">
                    	<h3>棉先生夏装男士直筒亚麻裤长裤 松紧腰棉麻休闲裤 夏季薄款男裤</h3>
                        <div class="attr">颜色:灰色  尺码:XXXL</div>
                    </div>
                </td>
                <td width="80">
                	<div class="price"><s>138.00</s></div>
                    <div class="discount">100.00</div>
                </td>
                <td width="60" class="td-number">1</td>
                <td width="100">贵州大师兄</td>
                <td width="80">交易成功</td>
                <td width="80"><div class="amount">100.00</div></td>
                <td width="80" class="td-right"><a href="" class="btn">发货</a></td>
            </tr>
        </table>
    </div>
    
    <div class="order-item">
    	<table cellpadding="0" cellspacing="0" width="100%" class="table-header">
        	<tr>
            	<td>
                	<input type="checkbox">
                    订单号: 2065436985556738 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    成交时间: 2016-07-22 10:22:22
                </td>
            </tr>
        </table>
        <table cellpadding="0" cellspacing="0" width="100%" class="table-goods">
        	<tr>
            	<td>
                	<div class="g-pic"><img src="http://xw.zhangwoo.cn/data/attachment/photo/2016/05/1463637711402477.jpg"></div>
                    <div class="g-con">
                    	<h3>棉先生夏装男士直筒亚麻裤长裤 松紧腰棉麻休闲裤 夏季薄款男裤</h3>
                        <div class="attr">颜色:灰色  尺码:XXXL</div>
                    </div>
                </td>
                <td width="80">
                	<div class="price"><s>138.00</s></div>
                    <div class="discount">100.00</div>
                </td>
                <td width="60" class="td-number">1</td>
                <td width="100">贵州大师兄</td>
                <td width="80">交易成功</td>
                <td width="80"><div class="amount">100.00</div></td>
                <td width="80" class="td-right"><a href="" class="btn">发货</a></td>
            </tr>
        </table>
    </div>
    
    <div class="order-item">
    	<table cellpadding="0" cellspacing="0" width="100%" class="table-header">
        	<tr>
            	<td>
                	<input type="checkbox">
                    订单号: 2065436985556738 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    成交时间: 2016-07-22 10:22:22
                </td>
            </tr>
        </table>
        <table cellpadding="0" cellspacing="0" width="100%" class="table-goods">
        	<tr>
            	<td>
                	<div class="g-pic"><img src="http://xw.zhangwoo.cn/data/attachment/photo/2016/05/1463637711402477.jpg"></div>
                    <div class="g-con">
                    	<h3>棉先生夏装男士直筒亚麻裤长裤 松紧腰棉麻休闲裤 夏季薄款男裤</h3>
                        <div class="attr">颜色:灰色  尺码:XXXL</div>
                    </div>
                </td>
                <td width="80">
                	<div class="price"><s>138.00</s></div>
                    <div class="discount">100.00</div>
                </td>
                <td width="60" class="td-number">1</td>
                <td width="100">贵州大师兄</td>
                <td width="80">交易成功</td>
                <td width="80"><div class="amount">100.00</div></td>
                <td width="80" class="td-right"><a href="" class="btn">发货</a></td>
            </tr>
        </table>
    </div>
    
    <div class="order-item">
    	<table cellpadding="0" cellspacing="0" width="100%" class="table-header">
        	<tr>
            	<td>
                	<input type="checkbox">
                    订单号: 2065436985556738 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    成交时间: 2016-07-22 10:22:22
                </td>
            </tr>
        </table>
        <table cellpadding="0" cellspacing="0" width="100%" class="table-goods">
        	<tr>
            	<td>
                	<div class="g-pic"><img src="http://xw.zhangwoo.cn/data/attachment/photo/2016/05/1463637711402477.jpg"></div>
                    <div class="g-con">
                    	<h3>棉先生夏装男士直筒亚麻裤长裤 松紧腰棉麻休闲裤 夏季薄款男裤</h3>
                        <div class="attr">颜色:灰色  尺码:XXXL</div>
                    </div>
                </td>
                <td width="80">
                	<div class="price"><s>138.00</s></div>
                    <div class="discount">100.00</div>
                </td>
                <td width="60" class="td-number">1</td>
                <td width="100">贵州大师兄</td>
                <td width="80">交易成功</td>
                <td width="80"><div class="amount">100.00</div></td>
                <td width="80" class="td-right"><a href="" class="btn">发货</a></td>
            </tr>
        </table>
    </div>
    
</div>
{template footer_seller}