{template header_seller}
<div class="mainFrame" id="mainFrame">
	<div class="seller-tab-bar">
    	<div class="item on"><a href="">全部记录</a></div>
        <div class="item"><a href="">已完成</a></div>
        <div class="item"><a href="">排队中</a></div>
        <div class="item"><a href="">发放返券</a></div>
    </div>
    
    <table cellpadding="0" cellspacing="0" width="100%" class="ticket-table">
    	<thead>
        	<tr>
                <th>返券号</th>
                <th width="100">买家</th>
                <th width="80">返利金额</th>
                <th width="140">发放时间</th>
                <th width="60">状态</th>
            </tr>
        </thead>
        <tbody>
        	<tr>
            	<td class="no">2065436985556738</td>
                <td>贵州大师兄</td>
                <td>￥:100.00</td>
                <td>2016-07-22 10:22:22</td>
                <td>已完成</td>
            </tr>
            <tr>
            	<td class="no">2065436985556738</td>
                <td>贵州大师兄</td>
                <td>￥:100.00</td>
                <td>2016-07-22 10:22:22</td>
                <td>已完成</td>
            </tr>
            <tr>
            	<td class="no">2065436985556738</td>
                <td>贵州大师兄</td>
                <td>￥:100.00</td>
                <td>2016-07-22 10:22:22</td>
                <td>已完成</td>
            </tr>
            <tr>
            	<td class="no">2065436985556738</td>
                <td>贵州大师兄</td>
                <td>￥:100.00</td>
                <td>2016-07-22 10:22:22</td>
                <td>已完成</td>
            </tr>
            <tr>
            	<td class="no">2065436985556738</td>
                <td>贵州大师兄</td>
                <td>￥:100.00</td>
                <td>2016-07-22 10:22:22</td>
                <td>已完成</td>
            </tr>
            <tr>
            	<td class="no">2065436985556738</td>
                <td>贵州大师兄</td>
                <td>￥:100.00</td>
                <td>2016-07-22 10:22:22</td>
                <td>已完成</td>
            </tr>
            <tr>
            	<td class="no">2065436985556738</td>
                <td>贵州大师兄</td>
                <td>￥:100.00</td>
                <td>2016-07-22 10:22:22</td>
                <td>已完成</td>
            </tr>
            <tr>
            	<td class="no">2065436985556738</td>
                <td>贵州大师兄</td>
                <td>￥:100.00</td>
                <td>2016-07-22 10:22:22</td>
                <td>已完成</td>
            </tr>
            <tr>
            	<td class="no">2065436985556738</td>
                <td>贵州大师兄</td>
                <td>￥:100.00</td>
                <td>2016-07-22 10:22:22</td>
                <td>已完成</td>
            </tr>
            <tr>
            	<td class="no">2065436985556738</td>
                <td>贵州大师兄</td>
                <td>￥:100.00</td>
                <td>2016-07-22 10:22:22</td>
                <td>已完成</td>
            </tr>
        </tbody>
    </table>
</div>
{template footer_seller}