{template header_member}
<div id="mainFrame">
	<form method="post" autocomplete="off">
    <input type="hidden" name="formsubmit" value="yes">
    <input type="hidden" name="formhash" value="{FORMHASH}">
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="listtable goodslist">
      <thead>
      <tr>
        <th width="30"><input type="checkbox" class="checkbox"></th>
        <th>评论内容</th>
        <th width="110">评论时间</th>
      </tr>
      </thead>
      <tbody>
      {loop $commentlist $list}
      <tr>
        <td><input type="checkbox" value="{$list[cid]}" name="cid[]"></td>
        <td>{$list[message]}</td>
        <td>{$list[dateline]}</td>
      </tr>
      {/loop}
      </tbody>
      <tfoot>
      <tr>
        <td colspan="8" style="padding:15px 10px;">
        	<div class="pages">{$pages}</div>
           <input type="submit" class="button submit" value="删除">
        </td>
      </tr>
      </tfoot>
    </table>
    </form>
</div>
{template footer_member}