{template header_common}
<link rel="stylesheet" type="text/css" href="/static/css/member.css">
<div class="blank"></div>
<div class="area">
	<div class="leftNav">
    	<h3 class="title">个人中心</h3>
    	<ul class="menu" id="leftMenu">
            <li><a href="/?m=$G[m]&c=order" id="menu_order">全部订单</a></li>
            <li><a href="/?m=$G[m]&c=fan" id="menu_fan">返现排队</a></li>
            <li><a href="/?m=$G[m]&c=score" id="menu_score">积分兑换</a></li>
            <li><a href="/?m=$G[m]&c=favorite" id="menu_favorite">我的收藏</a></li>
            <li><a href="/?m=$G[m]&c=recharge" id="menu_recharge">账户充值</a></li>
            <li><a href="/?m=$G[m]&c=profile" id="menu_profile">修改资料</a></li>
            <li><a href="/?m=$G[m]&c=bind" id="menu_bind">账户绑定</a></li>
            <li><a href="/?m=$G[m]&c=safe" id="menu_safe">账号安全</a></li>
        </ul>
    </div>
    <script type="text/javascript">
    $("#menu_$G[c]").addClass('cur');
    </script>