{template header_common}
<link rel="stylesheet" type="text/css" href="/static/css/homepage.css">
<div class="redback">
	<div class="area slideHD">
    	<ul class="multimenu">
        	<li>
            	<a href="/">手机</a>
                <a href="/">笔记本</a>
                <a href="/">电脑</a>
                <a href="/">办公配件</a>
            </li>
            <li>
            	<a href="/">手机</a>
                <a href="/">笔记本</a>
                <a href="/">电脑</a>
                <a href="/">办公配件</a>
            </li>
            <li>
            	<a href="/">手机</a>
                <a href="/">笔记本</a>
                <a href="/">电脑</a>
                <a href="/">办公配件</a>
            </li>
            <li>
            	<a href="/">手机</a>
                <a href="/">笔记本</a>
                <a href="/">电脑</a>
                <a href="/">办公配件</a>
            </li>
            <li>
            	<a href="/">手机</a>
                <a href="/">笔记本</a>
                <a href="/">电脑</a>
                <a href="/">办公配件</a>
            </li>
            <li>
            	<a href="/">手机</a>
                <a href="/">笔记本</a>
                <a href="/">电脑</a>
                <a href="/">办公配件</a>
            </li>
            <li>
            	<a href="/">手机</a>
                <a href="/">笔记本</a>
                <a href="/">电脑</a>
                <a href="/">办公配件</a>
            </li>
            <li>
            	<a href="/">手机</a>
                <a href="/">笔记本</a>
                <a href="/">电脑</a>
                <a href="/">办公配件</a>
            </li>
        </ul>
        
        <!--幻灯片-->
        <script src="/static/js/jquery.SuperSlide.2.1.1.js" type="text/javascript"></script>
        <div class="slideDiv">
        	<div class="slideBox" id="slideBox">
            	{eval $sliderlist=slider_get_image(1);}
                {eval $sliderno=1;}
                <div class="hd">
                    <ul>{loop $sliderlist $list}<li>$sliderno</li>{eval $sliderno++;}{/loop}</ul>
                </div>
                <div class="bd">
                    <ul>
                        {loop $sliderlist $list}
                        <li><a href="$list[url]" target="_blank"><img src="{echo image($list[image]);}"></a></li>
                        {/loop}
                    </ul>
                </div>
        
                <!-- 下面是前/后按钮代码，如果不需要删除即可 -->
                <!--<a href="javascript:void(0)" class="prev"></a>-->
                <!--<a href="javascript:void(0)" class="next"></a>-->
    
        	</div>
        </div>
        <script type="text/javascript">jQuery(".slideBox").slide({mainCell:".bd ul",autoPlay:true,delayTime:1000});</script>
        <!--右边APP下载开始-->
        <div class="appDown">
        	<div class="tab">APP下载</div>
            <ul>
            	<li>
                	<div class="qrcode"><img src="/static/images/weixin.jpg"></div>
                    <div class="title">IOS版</div>
                </li>
                <li>
                	<div class="qrcode"><img src="/static/images/weixin.jpg"></div>
                    <div class="title">Android版</div>
                </li>
            </ul>
        </div>
        <!--右边APP下载结束-->
    </div>
</div>

<div class="blank"></div>
<div class="area scrollBanner" id="scrollBanner">
	<div class="bd">
    	<ul>
        	<li><img src="/data/attachment/thumb/2016/05/1463642942878390.jpg"></li>
            <li><img src="/data/attachment/thumb/2016/05/1463642938284483.jpg"></li>
            <li><img src="/data/attachment/thumb/2016/05/1463642942878390.jpg"></li>
            <li><img src="/data/attachment/thumb/2016/05/1463642938284483.jpg"></li>
            <li><img src="/data/attachment/thumb/2016/05/1463642942878390.jpg"></li>
            <li><img src="/data/attachment/thumb/2016/05/1463642938284483.jpg"></li>
            <li><img src="/data/attachment/thumb/2016/05/1463642942878390.jpg"></li>
            <li><img src="/data/attachment/thumb/2016/05/1463642938284483.jpg"></li>
        </ul>
    </div>
</div>
<script type="text/javascript">
jQuery("#scrollBanner").slide({titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"left",autoPlay:true,vis:4,trigger:"click",delayTime:1000});
</script>
<div class="blank"></div>
<div class="area">
	<div class="titleDiv">
    	<div class="ico"></div>
        <strong>超级返推荐</strong>
    </div>
    <ul class="goodsList-5">
    	{eval $goodslist=goods_get_list(0,10);}
        {loop $goodslist $id $goods}
    	<li>
        	<div class="pic"><a href="/?m=goods&c=detail&id=$id" target="_blank"><img src="{echo image($goods[image]);}"></a></div>
            <div class="name"><a href="/?m=goods&c=detail&id=$id" target="_blank">$goods[name]</a></div>
            <div class="fan"><i>返现{$goods[back_amount]}元</i> ￥: $goods[price]</div>
        </li>
        {/loop}
    </ul>
</div>

<div class="blank"></div>
<div class="area">
	<div class="titleDiv">
    	<div class="ico"></div>
        <h3>返利品牌推荐</h3>
    </div>
    <div class="brandDiv">
    	<div class="brandFocus"><img src="/data/attachment/photo/2016/05/1463646137425845.jpg"></div>
        <div class="brandHD">
        	<ul class="brandList">
            	<li><a href="/"><img src="/data/attachment/photo/2016/05/1463646417651270.jpg"></a></li>
                <li><a href="/"><img src="/data/attachment/photo/2016/05/1463646435768331.jpg"></a></li>
                <li><a href="/"><img src="/data/attachment/photo/2016/05/1463646463671752.jpg"></a></li>
            	<li><a href="/"><img src="/data/attachment/photo/2016/05/1463646480622539.jpg"></a></li>
                <li><a href="/"><img src="/data/attachment/photo/2016/05/1463646372663702.jpg"></a></li>
                <li><a href="/"><img src="/data/attachment/photo/2016/05/1463646399416762.jpg"></a></li>
                <li><a href="/"><img src="/data/attachment/photo/2016/05/1463646417651270.jpg"></a></li>
            	<li><a href="/"><img src="/data/attachment/photo/2016/05/1463646372663702.jpg"></a></li>
                <li><a href="/"><img src="/data/attachment/photo/2016/05/1463646399416762.jpg"></a></li>
                <li><a href="/"><img src="/data/attachment/photo/2016/05/1463646435768331.jpg"></a></li>
                <li><a href="/"><img src="/data/attachment/photo/2016/05/1463646463671752.jpg"></a></li>
            	<li><a href="/"><img src="/data/attachment/photo/2016/05/1463646480622539.jpg"></a></li>
                <li><a href="/"><img src="/data/attachment/photo/2016/05/1463646435768331.jpg"></a></li>
                <li><a href="/"><img src="/data/attachment/photo/2016/05/1463646463671752.jpg"></a></li>
            	<li><a href="/"><img src="/data/attachment/photo/2016/05/1463646480622539.jpg"></a></li>
                <li><a href="/"><img src="/data/attachment/photo/2016/05/1463646372663702.jpg"></a></li>
                <li><a href="/"><img src="/data/attachment/photo/2016/05/1463646399416762.jpg"></a></li>
                <li><a href="/"><img src="/data/attachment/photo/2016/05/1463646417651270.jpg"></a></li>
            </ul>
        </div>
    </div>
</div>

<div class="area bannerAD"><img src="/data/attachment/photo/2016/05/1463647250931474.jpg"></div>

<div class="area">
	<div class="titleDiv" style="border:none;">
    	<div class="ico"></div>
        <h3>猜你喜欢</h3>
    </div>
    <div class="likeList">
    	<ul>
        	{eval $goodslist=goods_get_list(0,6);}
        	{loop $goodslist $id $goods}
        	<li>
                <div class="pic"><a href="/?m=goods&c=detail&id=$id" target="_blank">
                <img src="{echo image($goods[image]);}"></a></div>
                <div class="name"><a href="/?m=goods&c=detail&id=$id" target="_blank">$goods[name]</a></div>
                <div class="fan"><i>返现{$goods[back_amount]}元</i> ￥: {$goods[price]}</div>
            </li>
            {/loop}
        </ul>
    </div>
</div>

<div class="blank"></div>
<div class="area">
	<div class="titleDiv">
    	<div class="ico"></div>
        <h3>本地联盟商家</h3>
    </div>
    <div class="lianmengDiv">
    	<ul>
        	{eval $shoplist=shop_get_list(0,8);}
            {loop $shoplist $shopid $shop}
        	<li>
                <div class="pic"><a href="/?m=shop&c=detail&shopid=$shopid"><img src="{echo image($shop[image]);}"></a></div>
                <div class="name"><a href="/?m=shop&c=detail&shopid=$shopid">{$shop[shopname]}</a></div>
                <div class="comm"><img src="/static/images/common/stars.png" class="stars"> 50评价</div>
                <div class="address">{$shop[address]}</div>
                <div class="fan"><i>返现20元</i> ￥: 100.00</div>
            </li>
            {/loop}
            
        </ul>
    </div>
</div>
{template footer_common} 