{template header_common}
<link rel="stylesheet" type="text/css" href="/static/css/homepage.css">
<div class="redback">
	<div class="slideHD">
        <!--幻灯片-->
        <script src="/static/js/jquery.SuperSlide.2.1.1.js" type="text/javascript"></script>
        <div class="slideDiv">
        	<div class="slideBox" id="slideBox">
            	{eval $sliderlist=slider_get_image(1);}
                <div class="bd">
                    <ul>
                        {loop $sliderlist $list}
                        <li><a href="$list[url]" target="_blank"><img src="{echo image($list[image]);}"></a></li>
                        {/loop}
                    </ul>
                </div>
        
                <!-- 下面是前/后按钮代码，如果不需要删除即可 -->
                <!--<a href="javascript:void(0)" class="prev"></a>-->
                <!--<a href="javascript:void(0)" class="next"></a>-->
    
        	</div>
        </div>
        <script type="text/javascript">jQuery(".slideBox").slide({mainCell:".bd ul",autoPlay:true,delayTime:1000});</script>
    </div>
</div>

<!--<div class="blank"></div>
<div class="area scrollBanner" id="scrollBanner">
	<div class="bd">
    	<ul>
        	{eval $sliderlist=slider_get_image(3,8);}
            {loop $sliderlist $slider}
        	<li><a href="$slider[url]" target="_blank"><img src="{echo image($slider[image])}"></a></li>
            {/loop}
        </ul>
    </div>
</div>
<script type="text/javascript">
jQuery("#scrollBanner").slide({titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"left",autoPlay:true,vis:4,trigger:"click",delayTime:1000});
</script>-->
<div class="blank"></div>
<div class="area">
	<div class="titleDiv">
    	<div class="ico"></div>
        <strong>超市推荐</strong>
    </div>
    <ul class="goodsList-5">
    	{eval $goodslist=goods_get_list(0,10);}
        {loop $goodslist $id $goods}
    	<li>
        	<div class="pic"><a href="/?m=goods&c=detail&id=$id" target="_blank"><img src="{echo image($goods[image]);}"></a></div>
            <div class="name"><a href="/?m=goods&c=detail&id=$id" target="_blank">$goods[name]</a></div>
            <div class="fan"><!--<i>返现{$goods[back_amount]}元</i>--> ￥: {echo number_format($goods[price],2);}</div>
        </li>
        {/loop}
    </ul>
</div>

<div class="blank"></div>
<div class="area">
	<div class="titleDiv">
    	<div class="ico"></div>
        <h3>品牌推荐</h3>
    </div>
    <div class="brandDiv">
    	<div class="brandFocus"><img src="/data/attachment/photo/2016/05/1463646137425845.jpg"></div>
        <div class="brandHD">
        	<ul class="brandList">
            	{eval $brandlist=brand_get_list(0,18);}
                {loop $brandlist $id $brand}
            	<li><a href="/" title="$brand[name]"><img src="{echo image($brand[logo])}"></a></li>
                {/loop}
            </ul>
        </div>
    </div>
</div>

<div class="area bannerAD"><!--<img src="/data/attachment/photo/2016/05/1463647250931474.jpg">--></div>

<div class="area">
	<div class="titleDiv" style="border:none;">
    	<div class="ico"></div>
        <h3>猜你喜欢</h3>
    </div>
    <div class="likeList">
    	<ul>
        	{eval $goodslist=goods_get_list(0,6,0,'RAND()');}
        	{loop $goodslist $id $goods}
        	<li>
                <div class="pic"><a href="/?m=goods&c=detail&id=$id" target="_blank">
                <img src="{echo image($goods[image]);}"></a></div>
                <div class="name"><a href="/?m=goods&c=detail&id=$id" target="_blank">$goods[name]</a></div>
                <div class="fan"><!--<i>返现{$goods[back_amount]}元</i>--> ￥: {echo number_format($goods[price],2);}</div>
            </li>
            {/loop}
        </ul>
    </div>
</div>

<div class="blank"></div>
<div class="area">
	<div class="titleDiv">
    	<div class="ico"></div>
        <h3>本地联盟商家</h3>
    </div>
    <div class="lianmengDiv">
    	<ul>
        	{eval $businesslist=business_get_list(0,8);}
            {loop $businesslist $list}
        	<li>
                <div class="pic"><a href="/?m=lianmeng&c=detail&id=$list[id]"><img src="{echo image($list[logo]);}"></a></div>
                <div class="name"><a href="/?m=lianmeng&c=detail&id=$list[id]">{$list[name]}</a></div>
                <div class="comm"><img src="/static/images/common/stars.png" class="stars"> 50评价</div>
                <div class="address">{$list[address]}</div>
                <!--<div class="fan"><i>返现20元</i> ￥: 100.00</div>-->
            </li>
            {/loop}
            
        </ul>
    </div>
</div>
{template footer_common} 