{template header_common}
<link rel="stylesheet" type="text/css" href="/static/css/shop.css">
<div class="area" style="margin-top:30px;">
	<div class="shop-pic"><img src="{echo image($company[logo])}"></div>
    <div class="shop-info" style="padding-top:20px;">
    	<h2>$company[name]</h2>
        <div class="item"><i>电话:</i><span>$company[tel]</span></div>
        <div class="item"><i>区域:</i><span>$company[province] $company[city] $company[county]</span></div>
        <div class="item"><i>地址:</i><span>$company[address]</span></div>
        <div class="item"><i>主营项目:</i><span>$company[summary]</span></div>
    </div>
</div>
<div class="blank"></div>
<div class="area shop-desc">
	<div class="shop-tabbar">
    	<a class="tab tab-on">公司介绍</a>
    </div>
    
    <div class="shop-con"><div class="desc">$description[description]</div></div>
</div>
{template footer_common}