{template header_common}
<link rel="stylesheet" type="text/css" href="/static/css/about.css">
<div class="area about">
	<!--<div class="brandlist">
    	<ul>
        	{eval $shoplist[hot]=shop_get_list(0,4);}
            {loop $shoplist[hot] $shopid $slist}
            <li>
                <a href="/?m=shop&c=detail&shopid=$shopid" target="_blank">
                <img src="{echo image($slist[thumb]);}"></a>
            </li>
            {/loop}
        </ul>
    </div>-->
    <div class="blank"></div>
	<div class="titlediv">
    	<strong>联盟企业</strong>
    </div>
    
    <div class="content">
    	<div class="focus">
        	<img src="http://xw.zhangwoo.cn/static/images/xinwei/xingwei.jpg">
        </div>
        <div class="vbox">
        	<ul>
            	<li>
                	<h3>力爱迪科技企业宣传片</h3>
                    <div>六盘水力爱迪科技有限公司</div>
                </li>
                <li>
                	<h3>力爱迪科技企业宣传片</h3>
                    <div>六盘水力爱迪科技有限公司</div>
                </li>
                <li>
                	<h3>力爱迪科技企业宣传片</h3>
                    <div>六盘水力爱迪科技有限公司</div>
                </li>
                <li>
                	<h3>力爱迪科技企业宣传片</h3>
                    <div>六盘水力爱迪科技有限公司</div>
                </li>
                <li>
                	<h3>力爱迪科技企业宣传片</h3>
                    <div>六盘水力爱迪科技有限公司</div>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="titlediv">
    	<strong>星微动态</strong>
    </div>
    <div class="content">
    	<ul class="newslist">
        	{eval $newslist=post_get_list(array('catid'=>699), 10);}
            {loop $newslist $id $news}
        	<li><span>{echo date('Y/m/d', $news[pubtime])}</span>
            <a href="/?m=post&c=detail&id=$news[id]" target="_blank">$news[title]</a></li>
            {/loop}
        </ul>
    </div>
    <div class="titlediv">
    	<strong>关于我们</strong>
    </div>
    <div class="content">
    	<div class="xwpic"><img src="/static/images/xinwei/xingwei.jpg"></div>
        <div class="xwdesc">
        	<p>一个好的平台+一个优越的模式，创造一个无法超越的神话。凯里市星微电子商贸有限公司自2015年7月2日正式营业以来，成功开拓了广阔市场，联盟的行业涉及教育、服装、餐饮、娱乐、家电、建筑、装修、保险、养身等众多行业，旨在不断满足消费者的消费需求。半年的时间里，在全国各地开设了近百家分公司，其中，贵州省内就有60多家，省外分公司遍布于北京、浙江、江苏、安徽、河南、广东、广西、湖南、湖北、重庆、四川、云南等省份,且星微公司自成立以来，一直被模仿,从未被超越！那么，已经在市场上掀起了新浪潮的星微公司到底是个什么样是公司呢？</p>

    <p>凯里市星微电子商贸有限公司于2015年6月15日在凯里市工商局注册成立，公司网站“星微网上超市（www.xwwscs.com）”于2014年11月24日注册成功，备案号为“黔ICP备14006674”。</p>

    <p>凯里市星微电子商贸有限公司是为响应党和国家的方针政策，顺应时代的发展，秉承“大众创新、万众创业”的新理念，向着大数据、大健康产业方向发展，打造一个满足消费需求的万民企业。公司是为降低百姓消费开支、提高百姓生活质量而特别推出的电子商务异业联盟平台，本平台让利消费者，去掉中间环节，为消费者把质量、控价格，为生产者打品牌、做销量，让消费者成为消费商，实现消费利润重新分配。</p> 
        </div>
    </div>
</div>
{template footer_common}