<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>星微后台管理中心</title>
<link href="/static/images/common/favicon.ico" rel="icon" />
<link rel="stylesheet" type="text/css" href="/static/css/admin.css">
<script src="/static/js/jquery.js" type="text/javascript"></script>
<script src="/static/js/common.js" type="text/javascript"></script>
</head>

<body style="overflow:hidden;">
<div class="header">
    <div class="item account" id="account">
        <a href="/?m=admin" class="menuitem">您好,$G[member][username] <img src="/?m=member&c=avatar&size=small&uid=$G[uid]" border="0" /></a>
        <ul class="profile">
            <li>
            	<div class="atvar"><a href="/?m=home"><img src="{echo avatar($G[uid],'big');}" /></a></div>
                <div class="actions">
                	<p>$G[member][username]</p>
                	<p><a href="/?m=member&c=profile" target="_blank">编辑个人资料</a></p>
                	<p><a href="/?m=admin&c=logout" target="_top">退出登录</a></p>
                </div>
            </li>
		</ul>
	</div>
    <div class="item" id="home">
        <a href="/?m=admin" class="menuitem"><i class="icon">&#xf012b;</i>HOME</a>
        <ul class="submenu">
            <li><a href="/" target="_blank">站点首页</a></li>
            <li><a href="#">关于我们</a></li>
            <li><a href="#">技术支持</a></li>
            <li><a href="#">开发文档</a></li>
        </ul>
    </div>
    <div class="item"  id="addnew">
        <a href="javascript:;" class="menuitem"><i class="icon">&#xf0175;</i>新建</a>
        <ul class="submenu">
            <li><a href="/?m=admin&c=post&a=publish" target="main">文章</a></li>
            <li><a href="/?m=admin&c=page&a=publish" target="main">页面</a></li>
            <li><a href="/?m=admin&c=link" target="main">链接</a></li>
        </ul>
    </div>
</div>
<table width="100%" border="0" cellspacing="0" cellpadding="0" id="maintab">
  <tr>
    <td id="leftmenu">
       {if in_array($G[uid], C('FOUNDERS'))}
       <h3><a href="javascript:;"><i class="icon">&#xf013e;</i>系统设置</a></h3>
       <ul>
          <li><a rel="item" href="/?m=$G[m]&c=setting&a=basic" target="main">基本设置</a></li>
          <li><a rel="item" href="/?m=$G[m]&c=setting&a=optimiz" target="main">优化设置</a></li>
          <li><a rel="item" href="/?m=$G[m]&c=setting&a=register" target="main">注册设置</a></li>
      </ul>
      <h3><a href="javascript:;"><i class="icon">&#xf012d;</i>用户管理</a></h3>
      <ul>
          <li><a rel="item" href="/?m=$G[m]&c=member" target="main">会员列表</a></li>
          <li><a rel="item" href="/?m=$G[m]&c=usergroup" target="main">分组管理</a></li>
      </ul>
      <!--<h3><a href="javascript:;"><i class="icon">&#xf003f;</i>APP设置</a></h3>
      <ul>
          <li><a rel="item" href="/?m=$G[m]&c=ad&a=grouplist" target="main">广告分组</a></li>
          <li><a rel="item" href="/?m=$G[m]&c=ad&a=showlist" target="main">广告管理</a></li>
          <li><a rel="item" href="/?m=$G[m]&c=usertag" target="main">标签管理</a></li>
      </ul>-->
      <h3><a href="javascript:;"><i class="icon">&#xf00b9;</i>界面管理</a></h3>
      <ul>
          <li><a rel="item" href="/?m=$G[m]&c=nav" target="main">导航设置</a></li>
          <li><a rel="item" href="/?m=$G[m]&c=ad&a=showlist" target="main">广告管理</a></li>
          <li><a rel="item" href="/?m=$G[m]&c=slider" target="main">幻灯片管理</a></li>
      </ul>
      {/if}
      <h3><a href="javascript:;"><i class="icon">&#xf0130;</i>信息管理</a></h3>
      <ul>
      	  <li><a rel="item" href="/?m=$G[m]&c=post&a=publish" target="main">发布文章</a></li>
          <li><a rel="item" href="/?m=$G[m]&c=post&a=showlist" target="main">信息列表</a></li>
          <li><a rel="item" href="/?m=$G[m]&c=post&a=showlist&status=-1" target="main">待审文章</a></li>
          <li><a rel="item" href="/?m=$G[m]&c=postcat" target="main">分类管理</a></li>
          <li><a rel="item" href="/?m=$G[m]&c=postcat&a=merge" target="main">合并分类</a></li>
      </ul>
      <h3><a href="javascript:;"><i class="icon">&#xf0135;</i>商家管理</a></h3>
      <ul>
          <li><a rel="item" href="/?m=$G[m]&c=shop" target="main">商家列表</a></li>
          <li><a rel="item" href="/?m=$G[m]&c=shopcat" target="main">商家分类</a></li>
          <li><a rel="item" href="/?m=$G[m]&c=brand" target="main">品牌管理</a></li>
      </ul>
      <h3><a href="javascript:;"><i class="icon">&#xf01ba;</i>商品管理</a></h3>
      <ul>
          <li><a rel="item" href="/?m=$G[m]&c=goods" target="main">商品列表</a></li>
          <li><a rel="item" href="/?m=$G[m]&c=goodscat" target="main">商品分类</a></li>
          <li><a rel="item" href="/?m=$G[m]&c=goodscat&a=merge" target="main">合并分类</a></li>
      </ul>
      <h3><a href="javascript:;"><i class="icon">&#xf01ba;</i>页面管理</a></h3>
      <ul>
          <li><a rel="item" href="/?m=$G[m]&c=page&a=publish" target="main">新建页面</a></li>
          <li><a rel="item" href="/?m=$G[m]&c=page&a=showlist" target="main">页面列表</a></li>
          <li><a rel="item" href="/?m=$G[m]&c=page&a=category" target="main">页面分类</a></li>
      </ul>
      <h3><a href="javascript:;"><i class="icon">&#xf0034;</i>其他</a></h3>
      <ul>
      	  <li><a rel="item" href="/?m=$G[m]&c=comment" target="main">评论管理</a></li>
      	  <li><a rel="item" href="/?m=$G[m]&c=photo" target="main">照片管理</a></li>
          <li><a rel="item" href="/?m=$G[m]&c=attach" target="main">附件管理</a></li>
          <li><a rel="item" href="/?m=$G[m]&c=district" target="main">地区管理</a></li>
          <li><a rel="item" href="/?m=$G[m]&c=link" target="main">友情链接</a></li>
      </ul>
	</td>
    <td class="mainframe" id="mainframe" valign="top"><iframe name="main" id="iframe" frameborder="0" style="height:100%; width:100%;" src="/?m=admin&c=about"></iframe></td>
  </tr>
</table>
<script type="text/javascript">
$("#mainframe").height($(document).height()-30);
$("#iframe").height($(document).height()-30);
$(".item").mouseenter(function(){$(this).addClass("cur").find("ul").show();}).mouseleave(function(){$(this).removeClass("cur").find("ul").hide();});
$("#leftmenu h3").click(function(){
	var ul = $(this).siblings("ul")[$(this).index("h3")];
	if($(ul).is(":visible")){
		$(ul).slideUp('fast');
	}else {
		$(ul).slideDown('fast');
	}
});
$("a[rel=item]").click(function(){
	$("a[rel=item]").removeClass('on');
	$(this).addClass('on');
});
</script>
</body>
</html>