{template header_admin}
<div id="pagecontainer">
	<div class="toolbar">
    	<div class="f-right">
        	<form name="search" action="/?">
                <input type="hidden" name="m" value="$G[m]">
                <input type="hidden" name="c" value="$G[c]">
                <input type="hidden" name="a" value="$G[a]">
                <select name="catid" id="catid">
                    <option value="0" class="bold">所有分类</option>
                    $categoryoptions
                </select>
                <input type="text" class="input-text" name="keyword" value="$keyword">
                <input type="submit" class="button search" value="$lang[search]">
            </form>
        	
        </div>
    	<strong>商品管理</strong>
	</div>
    <div class="table-hd">
        <form method="post">
        <input type="hidden" name="formsubmit" value="yes" />
        <input type="hidden" name="formhash" value="{FORMHASH}">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="listtable">
        <thead>
          <tr>
            <th width="20" class="center">选?</th>
            <th width="50">图片</th>
            <th>商品名称</th>
            <th width="160">店掌柜</th>
            <th width="90">原价</th>
            <th width="90">折扣价</th>
            <th width="90">返现</th>
            <th width="140">发布时间</th>
            <th width="64">状态</th>
          </tr>
         </thead>
         <tbody>
          {loop $goodslist $id $goods}
          {eval $pubtime=@date('Y-m-d H:i', $goods[dateline]);}
          <tr>
            <td><input type="checkbox" class="checkbox" name="id[]" value="$id"></td>
            <td><img src="{echo image($goods[thumb]);}" width="50" height="50" style="display:block;"></td>
            <th><a href="/?m=goods&c=detail&id=$id" target="_blank">$goods[name]</a></th>
            <td>{$userlist[$goods[uid]][username]}</td>
            <td>{$goods[price]}</td>
            <td>{$goods[discount_price]}</td>
            <td>{$goods[back_amount]}</td>
            <td>{$pubtime}</td>
            <td>{$lang[goods_status][$goods[status]]}</td>
          </tr>
          {/loop}
          </tbody>
          <tfoot>
          <tr>
            <td colspan="10">
                <label><input type="checkbox" class="checkbox" onclick="DSXCMS.checkAll(this,'id[]')"> $lang[selectall]</label>
                <label><input type="radio" class="radio" name="option" value="delete" checked="checked"> 删除</label>
                <label><input type="radio" class="radio" name="option" value="shelve"> 上架</label>
                <label><input type="radio" class="radio" name="option" value="unshelve"> 下架</label>
            </td>
          </tr>
          <tr>
              <td colspan="10">
                  <span class="pages">$pages</span>
                  <input type="submit" class="submit" value="$lang[submit]">
                  <input type="button" class="button" value="$lang[refresh]" onclick="window.location.reload()">
              </td>
          </tr>
         </tfoot>
        </table>
        </form>
     </div>
</div>
{template footer_admin}