<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>后台管理中心</title>
<link rel="stylesheet" type="text/css" href="/static/css/admin.css?{TIMESTAMP}">
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/common.js?{TIMESTAMP}"></script>
<script type="text/javascript" src="/static/js/jquery.dsxui.js?{TIMESTAMP}"></script>
<script type="text/javascript" src="/static/js/jquery.form.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui-1.10.4.custom.min.js"></script>
</head>

<body>