{template header_admin}
<div id="pagecontainer">
    <div class="area">
    <form name="settings" method="post" action="/?m=admin&c=setting&a=save">
    <input type="hidden" name="formsubmit" value="yes">
    <input type="hidden" name="formhash" value="{FORMHASH}">
    <table class="formtable" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody id="basic">
    <tr>
      <th colspan="2">网站名称：</th>
    </tr>
    <tr>
      <td><input name="settingnew[sitename]" class="input-text w300" value="$setting[sitename]" type="text"></td>
      <td>系统名称，将显示在导航条和标题中</td>
    </tr>
    <tr>
      <th colspan="2">网站地址：</th>
    </tr>
    <tr>
      <td><input name="settingnew[siteurl]" class="input-text w300" value="$setting[siteurl]" type="text"></td>
      <td>网站 URL，将作为链接显示在页面底部</td>
    </tr>
    <tr>
      <th colspan="2">关键字：</th>
    </tr>
    <tr>
      <td><input name="settingnew[keywords]" class="input-text w300" value="$setting[keywords]"></td>
      <td>Keywords 项出现在页面头部的 Meta 标签中，用于记录本页面的关键字，多个关键字间请用半角逗号 "," 隔开</td>
    </tr>
    <tr>
      <th colspan="2">网站描述：</th>
    </tr>
    <tr>
      <td><textarea name="settingnew[description]" class="textarea w300">$setting[description]</textarea></td>
      <td>Description 出现在页面头部的 Meta 标签中，用于记录本页面的概要与描述</td>
    </tr>
    <tr>
      <th colspan="2">备案信息：</th>
    </tr>
    <tr>
      <td><input name="settingnew[icp]" class="input-text w300" value="$setting[icp]" type="text"></td>
      <td>页面底部可以显示 ICP 备案信息，如果网站已备案，在此输入您的授权码，它将显示在页面底部，如果没有请留空</td>
    </tr>
    <tr>
      <th colspan="2">版权信息：</th>
    </tr>
    <tr>
      <td><input name="settingnew[copyright]" class="input-text w300" value="$setting[copyright]"></td>
      <td>网站的版权信息，将显示在页面底部</td>
    </tr>
    <tr>
      <th colspan="2">统计代码：</th>
    </tr>
    <tr>
      <td><textarea name="settingnew[statcode]" class="textarea w300">$setting[statcode]</textarea></td>
      <td>用于统计网站访问情况的第三方统计代码，通常为JS代码</td>
    </tr>
    <tr>
      <th colspan="2">关闭网站：</th>
    </tr>
    <tr>
      <td>
        <input name="settingnew[sysclosed]" class="radio" value="1" type="radio"{if $setting[sysclosed]} checked="checked"{/if}> 是　
        <input name="settingnew[sysclosed]" class="radio" value="0" type="radio"{if !$setting[sysclosed]} checked="checked"{/if}> 否  
      </td>
      <td>暂时将网站关闭，其他人无法访问，但不影响管理员访问</td>
    </tr>
    <tr>
      <th colspan="2">关闭原因：</th>
    </tr>
    
    <tr>
      <td><textarea name="settingnew[sysclosedreason]" class="textarea w300">$setting[sysclosedreason]</textarea></td>
      <td>网站关闭时出现的提示信息</td>
    </tr>
    <tr>
      <th colspan="2">日期格式：</th>
    </tr>
    
    <tr>
      <td>
        <select name="settingnew[dateformat]">
        {loop $lang[dateformatoptions] $k $v}
        <option value="$k"{if $setting[dateformat]==$k} selected="selected"{/if}>$v</option>
        {/loop}
        </select>
      </td>
      <td></td>
    </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2"><input name="button-submit" class="button submit" value="提交" type="submit"></td>
      </tr>
    </tfoot>
    </table>
    </form>
    </div>
</div>
{template footer_admin}