{template header_admin}
{if $G[a]=='edit'}
<style type="text/css">
#formslide{clear:both; padding:0 20px;}
#formslide .item{clear:both; line-height:40px; margin:3px 0;}
#formslide .item:after{display:block; line-height:0; clear:both; content:" "; overflow:hidden;}
#formslide .item-name{width:20%; float:left; overflow:hidden;}
#formslide .item-input{overflow:hidden;}
#formslide .item-image{width:200px; height:150px; background:#bbb; margin:0px 20px 0 0; position:relative; float:left;}
#formslide .item-image img.preview{width:200px; height:150px; display:block;}
#formslide .item-image .close{color:#fff; background:#222; position:absolute; z-index:50; left:0; top:0; width:18px; height:18px; font-size:18px; display:block; line-height:1.0; cursor:pointer;}
#formslide .item-image .loading{width:32px; line-height:32px; position:absolute; left:84px; top:64px; z-index:50;}
#formslide .item-content{overflow:hidden;}
#formslide .upload-button{background:#0074a2; display:inline-block; height:28px; line-height:28px; padding:0; text-align:center; color:#fff; border:1px #0066CC solid; border-radius:2px;}
#formslide #slide-upload-button{line-height:1.0;}
#formslide textarea{height:70px; resize:none; vertical-align:top; box-sizing:border-box; width:320px;}
#filedata{visibility:visible; opacity:0; position:absolute; z-index:200; width:80px; height:40px; cursor:pointer;}
</style>
<h2>图片管理->$slide[slidename]</h2>
<div class="postbody">
<div class="postcontent">
<form name="formslide" id="formslide" method="post">
<input type="hidden" name="formsubmit" value="yes">
<input type="hidden" name="formhash" value="{FORMHASH}">
       	 <div id="image-upload-queue">
        {loop $slidedata $list}
        <div class="item">
            <div class="item-image" node="imagebox">
            	 <a href="javascript:;" title="删除" class="icon close" onclick="if(confirm('你确定要删除吗')){$(this).parent().parent().remove()}">&#xf00b3;</a>
                <img src="$list[imageurl]" width="200" height="150">	
            </div>
            <div class="item-content">
              <input type="hidden" node="image" name="slidedata[image][]" value="$list[image]">
              标题: <input type="text" class="text" name="slidedata[title][]" style="width:320px;" value="$list[title]"><br>
              链接: <input type="text" class="text" name="slidedata[url][]" style="width:320px;" value="$list[url]"><br>
              摘要: <textarea class="textarea" name="slidedata[summary][]">$list[summary]</textarea>             
            </div>
        </div>
        {/loop}
        </div>
        <div class="item">
        	<a href="javascript:;" id="filebutton"><i class="icon">&#xf0154;</i>添加图片</a>
        </div>
        <div class="item">
        	<p>提示: 上下拖动可变换图片位置。</p>
        	<input type="submit" class="button submit" value="保存">  
           <input type="button" class="button" value="刷新" onclick="window.location.reload();">
        </div>
</form>
<form id="uploadForm" method="post" enctype="multipart/form-data" action="">
<input type="file" id="filedata" name="filedata">
</form>
</div>
</div>
</div>
<script type="text/template" id="tplSlideItem">
<div class="item" id="uploaded_#fileid#">
	<div class="item-image" node="imagebox">		
	  <span class="loading"><img src="/static/images/common/loading32.gif"></span>
	</div>
	<div class="item-content">
	  <input type="hidden" node="image" value="" name="slidedata[image][]">
	  标题: <input type="text" class="text" name="slidedata[title][]" style="width:320px;" value=""><br>
	  链接: <input type="text" class="text" name="slidedata[url][]" style="width:320px;" value=""><br>
	  摘要: <textarea class="textarea" name="slidedata[summary][]"></textarea>              
	</div>
</div>
</script>
<script type="text/javascript">
$("#image-upload-queue").sortable();
$("#block-tab>span").click(function(){
$(this).addClass('cur').siblings().removeClass('cur');
$("#formblock>.block-content").eq($(this).index()).show().siblings().hide();
});
$("#filebutton").mouseover(function(){
	$("#filedata").css({'left':$(this).offset().left,'top':$(this).offset().top});
});
var fileid = 0;
$("#filedata").change(function(){
	var slideItem = "#uploaded_"+fileid;
	$("#uploadForm").ajaxSubmit({
		url:'/?m=admin&c=slide&a=upload',
		dataType: 'json',
		beforeSend:function(){
			var picItem = $("#tplSlideItem").html().replace(/#fileid#/g,fileid);
			$("#image-upload-queue").append(picItem);
			fileid++;
		},
		success:function(json){
			if(json.errno == 0){
				var imageHtml = '<a href="javascript:;" title="删除" class="icon close" onclick="if(confirm(\'你确定要删除吗\')){$(this).parent().parent().remove()}">&#xf00b3;</a>'+
                '<img src="'+json.data.picurl+'" width="200" height="150">';
				$(slideItem).find("[node=imagebox]").html(imageHtml);
				$(slideItem).find("[node=image]").val(json.data.pic);
			}else {
				alert(json.error);
				$(slideItem).remove();
			}
		}
	});
});
</script>
{else}
<h2>幻灯片管理</h2>
<form method="post">
<input type="hidden" name="formsubmit" value="yes" />
<input type="hidden" name="formhash" value="{FORMHASH}">
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="listtable">
<thead>
  <tr>
    <th width="50"><input type="checkbox" class="checkbox" onclick="DSXCMS.checkAll(this,'delete[]')">删?</th>
    <th>名称</th>
    <th width="80">图片管理</th>
  </tr>
 </thead>
 <tbody id="mainBody">
  <!--{loop $slidelist $list}-->
  <tr>
    <td><input type="checkbox" class="checkbox" name="delete[]" value="$list[slideid]"></td>
    <th><input type="tex" class="text" name="slidelist[{$list[slideid]}][slidename]" value="$list[slidename]"></th>
    <td><a href="/?m=admin&c=slide&a=edit&slideid=$list[slideid]">图片管理</a></td>
  </tr>
  <!--{/loop}-->
  </tbody>
  <tfoot>
  <tr>
  	  <td colspan="3"><a href="javascript:;" onclick="addSlide()"><i class="icon">&#xf0154;</i>添加幻灯片</a></td>
  </tr>
  <tr>
      <td colspan="3">
          <input type="submit" class="button" value="提交">　 
          <input type="button" class="button" value="$lang[refresh]" onclick="window.location.reload()">
      </td>
  </tr>
 </tfoot>
</table>
 </form>
<script type="text/javascript">
function addSlide(){
	$("#mainBody").append('<tr><td></td><th><input type="tex" class="text" name="newslide[]" value=""></th><td></td></tr>');
}
</script>
{/if}
{template footer_admin}