<div class="area qrcodelist">
	<div class="item" style="border:0;">
    	<div class="pic"><img src="/static/images/qrcode.jpg"></div>
        <div class="con">
        	<h3>下载APP</h3>
            <div>获取更多优惠</div>
            <p><a>IOS版</a><a>Android版</a></p>
        </div>
    </div>
    
    <div class="item">
    	<div class="pic"><img src="/static/images/qrcode.jpg"></div>
        <div class="con">
        	<h3>手机WAP网站</h3>
            <div>随时随地拿返利</div>
            <p>用手机扫一扫即可访问WAP网站</p>
        </div>
    </div>
    
    <div class="item">
    	<div class="pic"><img src="/static/images/qrcode.jpg"></div>
        <div class="con">
        	<h3>关注微信公众</h3>
            <div>随时随地拿返利</div>
        </div>
    </div>
</div>
<div class="footerHD">
    <div id="footer">
        <div class="area">
            <div class="bottomNav">
                <a href="/?m=about">关于我们</a>
                <span class="split">|</span>
                <a href="javascript:;" target="_blank">联系方式</a>
                <span class="split">|</span>
                <a href="javascript:;" target="_blank">广告服务</a>
                <span class="split">|</span>
                <a href="javascript:;" target="_blank">法律援助</a>
                <span class="split">|</span>
                <a href="javascript:;" target="_blank">加入我们</a>
                <span class="split">|</span>
                <a href="javascript:;" target="_blank">支付方式</a>
                <span class="split">|</span>
                <a href="javascript:;">技术支持</a>
            </div>
            
            <div class="copyright">{$G[setting][copyright]}   {$G[setting][icp]}</div>
        </div>
    </div>
</div>
</body>
</html>