<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" name="viewport" id="viewport" />
<title>$service[title]</title>
<link rel="stylesheet" type="text/css" href="/static/css/app.css?{TIMESTAMP}">
</head>

<body id="goods">
<div class="pics" style="background-image:url({$service[pic]});">
	<div class="barbg"></div>
	<div class="bar" style="text-align:center;">
       <strong>$service[title]</strong>
    </div>
</div>
<div class="address">地址:$service[province]  $service[city]  $service[address]</div>

<div class="button-line"><a href="zwapp://showmap/?address=$service[address]"><i class="icon">&#xf014a;</i>查看商家位置</a></div>
{if $service[contact]}<div class="button-line"><span><i class="icon">&#xf01ef;</i>$service[contact]</span></div>{/if}

<div class="content">
	 <div class="title">服务项目</div>
    <div class="p">$service[content]</div>
</div>
</body>
</html>