{template header_common}
<link rel="stylesheet" type="text/css" href="/static/css/goods.css">
<div class="area filter-div">
    <div class="row"><div class="cell"><strong class="tit">筛选</strong></div></div>
    <div class="row">
        <div class="cell cell-name"><span>分类</span></div>
        <div class="cell cell-con">
        	<a href="/?m=$G[m]&c=$G[c]&a=$G[a]&catid=0&brand=$brand"{if !$catid} class="cur"{/if}>不限</a>
        	{loop $categorylist $clist}
            <a href="/?m=$G[m]&c=$G[c]&a=$G[a]&catid=$clist[catid]&brand=$brand"{if $clist[catid]==$catid} class="cur"{/if}>$clist[cname]</a>
            {/loop}
        </div>
    </div>
    <div class="row">
        <div class="cell cell-name"><span>品牌</span></div>
        <div class="cell cell-con">
        	<a href="/?m=$G[m]&c=$G[c]&a=$G[a]&catid=$catid&brand=0"{if !$brand} class="cur"{/if}>不限</a>
        	{loop $brandlist $blist}
            <a href="/?m=$G[m]&c=$G[c]&a=$G[a]&catid=$catid&brand=$blist[name]"{if $blist[name]==$brand} class="cur"{/if}>$blist[name]</a>
            {/loop}
        </div>
    </div>
</div>
<div class="goods-list-div">
    <div class="area viewList">
    	<div class="tit">共为你查询到{$totalnum}条信息</div>
        <div class="LList">
        	<ul>
                {loop $goodslist[list] $goods}
                <li>
                	<div class="bd">
                	<div class="pic"><a href="/?m=goods&c=detail&id=$goods[id]" target="_blank">
                    <img src="{echo image($goods[image])}"></a></div>
                    <h2 class="title">$goods[name]</h2>
                    <div class="fan">免费赠送门票一张</div>
                    <div class="price">￥:{echo @number_format($goods[price], 2)}</div>
                    </div>
                </li>
                {/loop}
            </ul>
            <div class="pages" style="margin:10px 0; text-align:center;">$pages</div>
        </div>
        
        <div class="RList">
        	<ul>
            	{eval $goodslist[hot]=goods_get_list(0,6);}
                {loop $goodslist[hot] $goods}
                <li>
                	<div class="bd">
                	<div class="pic"><a href="/?m=goods&c=detail&id=$goods[id]" target="_blank">
                    <img src="{echo image($goods[image])}"></a></div>
                    <h2 class="title">$goods[name]</h2>
                    <div class="fan"><span>50评</span>满100f返20</div>
                    </div>
                </li>
                {/loop}
            </ul>
        </div>
    </div>
    
</div>
{template footer_common}